#!/bin/bash

if [ ! -d "{{ nameDir }}/current" ]; then
  # Control will enter here if $DIRECTORY doesn't exist.
  echo "Initializing!"
  mkdir -p {{ nameDir }}
  chmod -R 755 {{ nameDir }}
  chown -R hdfs {{ nameDir }}
  chgrp -R hfds {{ nameDir }}
  su hdfs -c "hdfs namenode -format"
fi

hadoop fs -mkdir /{{ directory }}
hadoop fs -chown hbase /{{ directory }}     